{% extends "base.html" %}

{% block title %} Music Download {% endblock %}

{% block head %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/audiojs/audio.min.js') }}"></script>
{% endblock %}

{% block content_id %}music{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-6 form-horizontal">
            <div class="form-group">
                <div class="col-md-12">
                    <input type="text" name="name" class="form-control" id="music_name" placeholder="歌曲名/歌手/专辑/like" v-model="keyword" v-on:keyup.enter="searchMusic">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <audio preload="none" loop="loop"/>
        </div>
    </div>

    <div class="col-md-12" v-if="musics">
        <table class="table table-hover">
            <tr>
                <th width="5%">收藏</th>
                <th width="15%">歌曲</th>
                <th width="15%">歌手</th>
                <th width="20%">专辑</th>
                <th width="15%">播放</th>
                <th width="30%">下载地址</th>
            </tr>
            <tr v-for="music in musics">
                <td>
                    <button type="button" class="btn btn-default btn-sm" v-if="!music.is_like"
                            v-on:click="likeMusic(music)">
                        <span v-bind:class="{'glyphicon':true, 'glyphicon-heart-empty': !music.is_like, 'glyphicon-heart': music.is_like, 'text-danger': music.is_like}" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-sm" v-if="music.is_like"
                            v-on:click="cancelLikeMusic(music)">
                        <span v-bind:class="{'glyphicon':true, 'glyphicon-heart-empty': !music.is_like, 'glyphicon-heart': music.is_like, 'text-danger': music.is_like}" aria-hidden="true"></span>
                    </button>
                </td>
                <td>{{music.song_name}}</td>
                <td>{{music.singer_name}}</td>
                <td>{{music.album_name}}</td>
                <td>
                    <div class="dropdown">
                        <button type="button" id="dLabel" class="btn btn-success btn-xs" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">Play <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dLabel">
                            <li v-for="audition in music.audition_list">
                                <a v-on:click="playMusic(audition.url)">{{audition.typeDescription}}</a>
                            </li>
                        </ul>
                    </div>
                </td>
                <td>
                    <div class="row">
                        <button type="button" class="btn btn-primary btn-xs"
                               v-for="audition in music.audition_list" v-on:click="downLoad(audition.url)">{{audition.typeDescription}}</button>
                        <button type="button" class="btn btn-primary btn-xs"
                               v-for="ll in music.ll_list" v-on:click="downLoad(ll.url)">{{ll.typeDescription}}</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/vue.js') }}"></script>
    <script src="{{ url_for('static', filename='js/music.js') }}"></script>
{% endblock %}