{% extends 'bootstrap/base.html' %}

{% block html_attribs %}
    lang="zh-CN"
{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',
                                 filename='css/font-awesome.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static',
                                 filename='css/bootstrap-social.css') }}" type="text/css">
{% endblock %}

{% block title %} PlayGround {% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">PlayGround</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="/music">Music <span class="sr-only">(current)</span></a></li>
                    <li><a href="http://panmax.love/" target="_blank">Blog <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                {% if current_user.is_authenticated() %}
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">{{ current_user.username }} <span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">修改资料</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ url_for('auth.logout') }}">退出登录</a></li>
                            </ul>
                        </li>
                    </ul>
                {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ url_for('auth.login') }}">登录</a></li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container" id="{% block content_id %}{% endblock %}">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
        {% block page_content %}{% endblock %}
    </div>

{% endblock %}