{% extends 'bootstrap/base.html' %}

{% block html_attribs %}
    lang="zh-CN"
{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block title %} PlayGround {% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">PlayGround</a>
            </div>
            <button type="button" class="btn btn-primary navbar-btn">未读消息<span class="badge">4</span></button>
        </div>
    </nav>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    {% block page_content %}{% endblock %}
</div>

{% endblock %}